<div id="<%= dom_id meter %>">
  <p>
    <strong>Name:</strong>
    <%= meter.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= meter.location %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= meter.unit %>
  </p>

<!--
  <p>
    <strong>Average:</strong>
    <%# meter.readings.average(:value) %>
  </p>
-->

</div>
