<%= render 'readings/new', meter: meter %>

<table>
  <thead>
    <tr>
      <th>Recorded At</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% meter.readings.order(created_at: :desc).each do |reading| %>
    <tr>
      <td><%= reading.created_at %></td>
      <td><%= reading.value %></td>
      <td><%= button_to 'Delete Reading', [meter, reading], method: :delete, onclick: 'return confirm("Are you sure you want to delete?");' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

